<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${board.name}" />
</head>
<body>
    <div class="header">
        <h2 th:text="${board.name}"/>
    </div>
    <div class="columns">
        <div class="add_column">
            <form th:action="@{/boards/{boardId}(boardId = ${board.id})}"
                  th:object="${newColumn}" method="post">
                <label for="column_name">New Column</label>
                <input id="column_name" type="text" th:field="${newColumn.name}" />
                <input type="submit" value="Add">
            </form>
        </div>
        <br>
        <hr />
        <div class="column" th:each="column: ${columns}">
            <form th:action="@{/boards/{boardId}(boardId = ${board.id})}" th:method="patch">
                <input type="hidden" name="columnId" th:value="${column.id}" />
                <input type="text" name="newColumnName" th:value="${column.name}">
                <input type="submit" value="Save">
            </form>
            <form th:action="@{/boards/{boardId}(boardId = ${board.id})}" th:method="delete">
                <input type="hidden" name="columnId" th:value="${column.id}" />
                <input type="submit" value="Delete Column"
                       onclick="return confirm('Are you sure you want to delete the column?')" />
            </form>
            <br />
            <div class="add_task">
                <form th:action="@{/boards/{boardId}/{columnId}(boardId=${board.id}, columnId=${column.id})}"
                      th:object="${newTask}" method="post">
                    <input type="text" th:field="${newTask.name}" />
                    <input type="submit" value="Add Task">
                </form>
            </div>
            <div class="tasks">
                <div class="task" th:each="task: ${column.getTasks()}">
                    <p th:text="${task.name}" />
                </div>
            </div>
            <hr />
        </div>
    </div>
</body>
</html>