<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="authorization">
        <form th:action="@{/login}" method="post">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" />
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
            <input type="submit" value="Login">
        </form>
        <a th:href="@{/signup}">Signup</a>
    </div>

</body>
</html>